*{
  margin: 0px;
  padding: 0px;
}

body{
  height: 400px;
  width: auto;
  background-color: black;
}

header{
  text-align: center;
  
}

main{
  margin: auto;
  min-width: 300px;
  max-width: 1000px;
  height: 100%;
  margin-bottom: 13.75%;


}

#bot{
  margin: auto;
}

#btn{
  
  background-color:#179094;
  cursor: pointer;
  color: white;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  box-shadow: 1px 2px 2px white;

}
#vale{
  background-color: aliceblue;
  margin: auto;
  min-width: 300px;
  max-width: 1000px;
}
#btn:active{
  box-shadow: none;


}

div#vale{
  text-align: center;
}

footer{
  margin-top: 10px;
  background-color:#179094;
  padding:1px;
  width: 100%;
  bottom: 0;
  
  
  
}
footer>p{
  color: aliceblue;
  text-align: center;
}